In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
df=pd.read_csv("Electric_Vehicle_Population_Data.csv")
df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJ3E1EA5L,King,Seattle,WA,98133.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266,0,46.0,249903111,POINT (-122.35029 47.71871),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
1,5UX43EU08R,King,Seattle,WA,98125.0,2024,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,39,0,46.0,264762606,POINT (-122.30253 47.72656),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
2,5UX43EU06R,King,Seattle,WA,98102.0,2024,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,39,0,43.0,275506031,POINT (-122.32427 47.63433),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,5YJ3E1EA1J,King,Kirkland,WA,98034.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,1.0,117023581,POINT (-122.22901 47.72201),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
4,1G1RA6E43C,Thurston,Olympia,WA,98501.0,2012,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,35,0,35.0,158415498,POINT (-122.89166 47.03956),PUGET SOUND ENERGY INC,5.306701e+10

In [3]:
df.shape

(220225, 17)

In [4]:
df.duplicated().sum()

np.int64(0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220225 entries, 0 to 220224
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         220225 non-null  object
 1   County                                             220222 non-null  object
 2   City                                               220222 non-null  object
 3   State                                              220225 non-null  object
 4   Postal Code                                        220222 non-null  float64
 5   Model Year                                         220225 non-null  int64
 6   Make                                               220225 non-null  object
 7   Model                                              220225 non-null  object
 8   Electric Vehicle Type                              220225 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  220225 non-null  object
 10  Electric Range                                     220225 non-null  int64
 11  Base MSRP                                          220225 non-null  int64
 12  Legislative District                               219762 non-null  float64
 13  DOL Vehicle ID                                     220225 non-null  int64
 14  Vehicle Location                                   220216 non-null  object
 15  Electric Utility                                   220222 non-null  object
 16  2020 Census Tract                                  220222 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 28.6+ MB

In [6]:
df.isnull().sum()

VIN (1-10)                                             0
County                                                 3
City                                                   3
State                                                  0
Postal Code                                            3
Model Year                                             0
Make                                                   0
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 463
DOL Vehicle ID                                         0
Vehicle Location                                       9
Electric Utility                                       3
2020 Census Tract                                      3
dtype: int64

In [7]:
for col in df.columns:
    print(col)
    print(df[col].nunique())

VIN (1-10)
12879
County
208
City
783
State
48
Postal Code
947
Model Year
21
Make
46
Model
159
Electric Vehicle Type
2
Clean Alternative Fuel Vehicle (CAFV) Eligibility
3
Electric Range
109
Base MSRP
31
Legislative District
49
DOL Vehicle ID
220225
Vehicle Location
945
Electric Utility
75
2020 Census Tract
2184

#### Drop rows with null values. Losing 469 rows. Too small to be significant.

In [8]:
df1=df.dropna()
df1.shape

(219756, 17)

In [9]:
df.shape[0]-df1.shape[0]

469

#### Create latitude and longitude columns out of Location column and turn them into numeric values.

In [10]:
df1.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')

In [11]:
df1["Vehicle Location"].head()

0    POINT (-122.35029 47.71871)
1    POINT (-122.30253 47.72656)
2    POINT (-122.32427 47.63433)
3    POINT (-122.22901 47.72201)
4    POINT (-122.89166 47.03956)
Name: Vehicle Location, dtype: object

In [12]:
#df1["Latitude"]=df1["Vehicle Location"].str.extract("(\-\d+\.\d+)")
df1["Latitude"]=df1.loc[:,"Vehicle Location"].str.extract("(-\d+\.\d+)")
df1["Latitude"]

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Kun Bi\AppData\Local\Temp\ipykernel_14252\427272738.py:2: SyntaxWarning: invalid escape sequence '\d'
  df1["Latitude"]=df1.loc[:,"Vehicle Location"].str.extract("(-\d+\.\d+)")
C:\Users\Kun Bi\AppData\Local\Temp\ipykernel_14252\427272738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Latitude"]=df1.loc[:,"Vehicle Location"].str.extract("(-\d+\.\d+)")

0         -122.35029
1         -122.30253
2         -122.32427
3         -122.22901
4         -122.89166
             ...
220220    -122.89166
220221    -122.21061
220222    -122.21061
220223    -122.03287
220224    -122.12053
Name: Latitude, Length: 219756, dtype: object

In [13]:
df1["Longitude"]=df1["Vehicle Location"].str.extract("(\s\d+\.\d+)")
df1["Longitude"]

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Kun Bi\AppData\Local\Temp\ipykernel_14252\3398377892.py:1: SyntaxWarning: invalid escape sequence '\s'
  df1["Longitude"]=df1["Vehicle Location"].str.extract("(\s\d+\.\d+)")
C:\Users\Kun Bi\AppData\Local\Temp\ipykernel_14252\3398377892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Longitude"]=df1["Vehicle Location"].str.extract("(\s\d+\.\d+)")

0          47.71871
1          47.72656
2          47.63433
3          47.72201
4          47.03956
            ...
220220     47.03956
220221     47.83448
220222     47.83448
220223     47.68555
220224     47.61334
Name: Longitude, Length: 219756, dtype: object

In [14]:
df1["Latitude"]=pd.to_numeric(df1.Latitude)
df1["Longitude"]=pd.to_numeric(df1.Longitude)

C:\Users\Kun Bi\AppData\Local\Temp\ipykernel_14252\3580585742.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Latitude"]=pd.to_numeric(df1.Latitude)
C:\Users\Kun Bi\AppData\Local\Temp\ipykernel_14252\3580585742.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Longitude"]=pd.to_numeric(df1.Longitude)

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 219756 entries, 0 to 220224
Data columns (total 19 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         219756 non-null  object
 1   County                                             219756 non-null  object
 2   City                                               219756 non-null  object
 3   State                                              219756 non-null  object
 4   Postal Code                                        219756 non-null  float64
 5   Model Year                                         219756 non-null  int64
 6   Make                                               219756 non-null  object
 7   Model                                              219756 non-null  object
 8   Electric Vehicle Type                              219756 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  219756 non-null  object
 10  Electric Range                                     219756 non-null  int64
 11  Base MSRP                                          219756 non-null  int64
 12  Legislative District                               219756 non-null  float64
 13  DOL Vehicle ID                                     219756 non-null  int64
 14  Vehicle Location                                   219756 non-null  object
 15  Electric Utility                                   219756 non-null  object
 16  2020 Census Tract                                  219756 non-null  float64
 17  Latitude                                           219756 non-null  float64
 18  Longitude                                          219756 non-null  float64
dtypes: float64(5), int64(4), object(10)
memory usage: 33.5+ MB

In [66]:
df1.columns=["vin","county","city","state","postal_code","model_year","manufacture","model","type","cafv","e_range","base_msrp","legi_district","id","location","e_utility","2020_census_tract","lat","lon"]
df1.head()

,vin,county,city,state,postal_code,model_year,manufacture,model,type,cafv,e_range,base_msrp,legi_district,id,location,e_utility,2020_census_tract,lat,lon
0,5YJ3E1EA5L,King,Seattle,WA,98133.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266,0,46.0,249903111,POINT (-122.35029 47.71871),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10,-122.35029,47.71871
1,5UX43EU08R,King,Seattle,WA,98125.0,2024,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,39,0,46.0,264762606,POINT (-122.30253 47.72656),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10,-122.30253,47.72656
2,5UX43EU06R,King,Seattle,WA,98102.0,2024,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,39,0,43.0,275506031,POINT (-122.32427 47.63433),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10,-122.32427,47.63433
3,5YJ3E1EA1J,King,Kirkland,WA,98034.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,1.0,117023581,POINT (-122.22901 47.72201),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10,-122.22901,47.72201
4,1G1RA6E43C,Thurston,Olympia,WA,98501.0,2012,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,35,0,35.0,158415498,POINT (-122.89166 47.03956),PUGET SOUND ENERGY INC,5.306701e+10,-122.89166,47.03956

In [67]:
df1.to_csv("cleaned_electric_data.csv")